<div class="container">
    <section class="customer-logos slider">
        <div class="slide">
            <img src="https://www.trinity.edu.np/assets/backend/uploads/Logo/trinity%20college%20logo.jpg" />
            <p>Trinity College</p>
        </div>
        <div class="slide">
            <img
                src="https://www.trinity.edu.np/assets/backend/uploads/facilities-%20Lab/Satya%20Bahadur%20Maharjan.jpg" />
            <p>Satya Sir</p>
        </div>
        <div class="slide">
            <img
                src="https://media.licdn.com/dms/image/C5603AQFlhoC0EVlLcw/profile-displayphoto-shrink_200_200/0/1517583219292?e=1702512000&v=beta&t=aYNfMmAmA_DUTF_hNupoA6yzPalw1uw-YGCdbP0Ujc8" />
            <p>Abhishek Sir</p>
        </div>
        <div class="slide">
            <img src="https://101infotech.com.np/storage/author/author--1657732816.jpg" />
            <p>Sanya Parajuli</p>
        </div>
        <div class="slide">
            <img src="https://www.trinity.edu.np/assets/backend/uploads/Logo/trinity%20college%20logo.jpg" />
            <p>Trinity College</p>
        </div>
        <div class="slide">
            <img
                src="https://www.trinity.edu.np/assets/backend/uploads/facilities-%20Lab/Satya%20Bahadur%20Maharjan.jpg" />
            <p>Satya Sir</p>
        </div>
        <div class="slide">
            <img
                src="https://media.licdn.com/dms/image/C5603AQFlhoC0EVlLcw/profile-displayphoto-shrink_200_200/0/1517583219292?e=1702512000&v=beta&t=aYNfMmAmA_DUTF_hNupoA6yzPalw1uw-YGCdbP0Ujc8" />
            <p>Abhishek Sir</p>
        </div>
        <div class="slide">
            <img
                src="https://www.trinity.edu.np/assets/backend/uploads/facilities-%20Lab/Satya%20Bahadur%20Maharjan.jpg" />
            <p>Satya Sir</p>
        </div>
    </section>
</div>